@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 90%;
  margin: auto;
}
.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.card-image {
  border-radius: 10px;
}
.button {
  background-image: linear-gradient(to right, #4f3a99, #6a11cb);
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button:hover {
  transform: translateY(-2px);
}

.button.clicked {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
